<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReadPLCSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        <ReadPLCSoft.Properties.Settings>
                <setting name="IP" serializeAs="String">
                        <value />
                </setting>
                <setting name="Port" serializeAs="String">
                        <value />
                </setting>
                <setting name="COM" serializeAs="String">
                        <value />
                </setting>
                <setting name="Baud" serializeAs="String">
                        <value />
                </setting>
                <setting name="Stopbit" serializeAs="String">
                        <value />
                </setting>
                <setting name="Parity" serializeAs="String">
                        <value />
                </setting>
                <setting name="Databit" serializeAs="String">
                        <value />
                </setting>
                <setting name="Connection" serializeAs="String">
                        <value />
                </setting>
                <setting name="RTU" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ASCII" serializeAs="String">
                        <value>False</value>
                </setting>
        </ReadPLCSoft.Properties.Settings>
    </userSettings>
</configuration>